# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/factoryDeploy.s.sol/5003
broadcast/factoryDeploy.s.sol/11155111
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# idea
.idea

# Dotenv file
.env
